@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: var(--font-famiy);
    min-width: 360px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root{
    --font-famiy: "Public Sans", sans-serif;
    --font-family-alt: "Libre Baskerville", serif;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-green: #003331;
    --color-dark-green-bg: #001414;
    --color-green: #014c48;
    --color-dark-green-alt: #00413e;
    --color-green-opacity: rgba(53, 83, 98, 0.8);
    --color-green-opacity-alt: rgba(53, 83, 98, 0.6);
    --color-light-green: #25B895;

    --border: 1px solid rgba(255, 255, 255, 0.3);
    --border-radius: 80px;

    --transition: all .3s linear;
}

.container{
    max-width: 1152px;
    width: 100%;
    margin-inline: auto;
}

.button{
    border: var(--border);
    border-radius: var(--border-radius);
    display: inline-flex;
    padding: 17px 34px;
    height: 54px;
    background: transparent;
}

.title{
    color: var(--color-dark-green);
    font-weight: 400;
}

ul,
ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* Header */

.header{
    padding-top: 18px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu__list{
    display: flex;
    column-gap: 51px;
}

.list__item-link{
    font-size: 13px;
    line-height: 123%;
    font-weight: 400;
    color: var(--color-white);
    transition: var(--transition);
}

.list__item-link:hover{
    color: var(--color-light-green);
}

/* Hero */

.hero{
    background-image: url(../image/people.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 776px;
    color: var(--color-white);
}

.hero__inner{
    padding-top: 190px;
}

.hero__content{
    max-width: 542px;
}

.hero__title{
    font-family: var(--font-family-alt);
    font-size: clamp(32px, 2.97vw, 38px);
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.03em;
    margin-bottom: 29px;
}

.hero__desc{
    font-size: 18px;
    line-height: 156%;
    margin-bottom: 29px;
}

.hero__button{
    color: var(--color-white);
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 122px;
}

.hero__button:hover{
    background-color: var(--color-light-green);
}

.hero__bottom{
    padding-bottom: 39px;
}

.hero__subtitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 15px;
}

.hero__list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 32px;
}

.hero__item{
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    transition: var(--transition);
}

.hero__item:hover{
    border-top: 1px solid var(--color-light-green);
    color: var(--color-light-green);
}

.hero__list-link{
    display: inline-flex;
    padding-top: 17px;
    font-size: 15px;
    line-height: 160%;
}

/* Steps */

.steps{
    padding-block: 120px;
}

.steps__inner{
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}

.steps__title{
    font-size: clamp(24px, 2.34vw, 30px);
    font-weight: 400;
    line-height: 127%;
    letter-spacing: 0.04em;
    color: var(--color-dark-green);
    margin-bottom: 57px;
}

.steps__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
}

.steps__num{
    background-color: var(--color-green);
    display: inline-flex;
    width: 48px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 187%;
    color: var(--color-white);
    border-radius: var(--border-radius);
}

.steps__desc{
    font-size: 15px;
    line-height: 160%;
    color: var(--color-green-opacity);
    max-width: 120px;
    width: 100%;
    margin-inline: auto; 
}

.steps__item:nth-child(even){
    position: relative;
}

.steps__item:nth-child(even)::before{
    content: "";
    position: absolute;
    display: inline-flex;
    left: -140px;
    bottom: 80%;
    width: 160px;
    height: 1px;
    background: rgba(53, 83, 98, 0.2);
}

.steps__item:nth-child(even)::after{
    content: "";
    position: absolute;
    display: inline-flex;
    right: -140px;
    bottom: 80%;
    width: 160px;
    height: 1px;
    background: rgba(53, 83, 98, 0.2);
}

/* Approach */

.approach{
    background-color: #F7F8F8;
    padding-block: 80px;
}

.approach__inner{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.approach__content{
    grid-column: 5 span;
    padding-top: 33px;
}

.approach__images{
    height: auto;
    max-width: 100%;
    object-fit: cover;
    grid-column: 7 / 6 span;
    column-gap: 8px;
}

.approach__title{
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 13px;
}

.approach__desc{
    font-size: 15px;
    line-height: 160%;
    color: var(--color-green-opacity);
    margin-bottom: 37px;
}

.approach__link{
    border: 1px solid rgba(53, 83, 98, 0.2);
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    color: var(--color-dark-green-alt);
    transition: var(--transition);
}

.approach__link:hover{
    background-color: var(--color-light-green);
    color: var(--color-white);
}

/* News */

.news{
    padding-block: 24px;
}

.news__list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
}

.news__item{
    border-top: 1px solid rgba(53, 83, 98, 0.3);
    grid-column: 2 span;
    align-items: center;
    padding-top: 16px;
}

/* Info */

.info{
    background-color: var(--color-dark-green-bg);
    position: relative;
    display: flex;
    height: 680px;
}

.info__inner{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding-block: 247px;
    color: var(--color-white);
}

.info__content{
    padding-inline: 80px;
}

.info::before{
    content: "";
    background-image: url(../image/news/left.png);
    flex-shrink: 0;
    width: 287px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid var(--color-dark-green);
}

.info::after{
    content: "";
    background-image: url(../image/news/left.png);
    flex-shrink: 0;
    width: 287px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid var(--color-dark-green);
}

.info__title{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 20px;
}

.info__desc{
    font-size: 15px;
    line-height: 160%;
}
@media screen and (max-width: 1160px) {
    .container{
        padding-inline: 15px;
    }

    .steps{
        padding-inline: 20px;
    }
}

@media screen and (max-width: 1150px) {
    .approach__images{
        grid-column: 12 span;
    }

    .approach__content{
        grid-column: 5 span;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px){
    .news__list{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }

    .info{
        height: auto;
    }

    .info::before{
        content: "";
        display: none;
    }
    
    .info::after{
        content: "";
        display: none;
    }
    
    .info__inner{
        padding-block: 50px;
    }

    .info__content{
        padding-inline: 20px;
    }
}

@media screen and (max-width: 760px) {
    .menu{
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    .menu__list{
        gap: 5px 25px;
        flex-wrap: wrap;
    }

    .logo__link{
        margin-bottom: 10px;
    }

    .hero__list{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .steps{
        padding-block: 50px;
    }

    .steps__list{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .steps__item:nth-child(even)::before{
        content: "";
        display: none;
    }
    
    .steps__item:nth-child(even)::after{
        content: "";
        display: none;
    }

    .approach__content{
        grid-column: 12 span;
    }
}

@media screen and (max-width: 545px){
    .hero__list{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .news__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .news__item{        
        grid-column: 1 span;
    }
}